{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="/static/Эвент.css" media="screen">
<style>
    .nameblog {
    margin-left: 50px; /* Отступ слева */
   }

   .blog {
    margin-left: 50px; /* Отступ слева */
    padding: 20; /* Поля вокруг текста */
   }
  </style>
{% if flag_photo %}
 <section class="u-clearfix u-section-1" id="sec-746b">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1"><!--blog--><!--blog_options_json--><!--{"type":"Recent","source":"","tags":"","count":""}--><!--/blog_options_json-->
        <div class="u-blog u-expanded-width u-blog-1">
          <div class="u-repeater u-repeater-1"><!--blog_post-->
            <div class="u-blog-post u-container-style u-repeater-item u-shape-rectangle">
              <div class="u-container-layout u-similar-container u-valign-top-xl u-container-layout-1">

                  <a class="u-post-header-link" href=""><!--blog_post_image-->
                    <img alt="" class="u-blog-control u-image u-image-default u-image-1" src="/static/img/events/{{id}}.png", width="100"><!--/blog_post_image-->
                  </a><!--blog_post_header-->

                <h2 class="u-align-left u-blog-control u-text u-text-1">
                  <font size="20" face="Open Sans">
                  <a class="u-post-header-link" href=""><!--blog_post_header_content-->{{name}}<!--/blog_post_header_content--></a>
                    {% if flag == 'True' %}
                <a class="u-button-style u-nav-link" href="/delevent/{{id}}" style="padding-top: 10px;">Добавлено</a>
                    {% elif flag == 'False' %}
                <a class="u-button-style u-nav-link" href="/addevent/{{id}}" style="padding-top: 10px;">Добавить</a>
                    {% elif flag == 'CR' %}
                <a class="u-button-style u-nav-link" href="/delmyevent/{{id}}" style="padding-top: 10px;">Удалить</a>
                    {% endif %}
                  </font></h2><!--/blog_post_header--><!--blog_post_metadata-->

                <div class="u-blog-control u-metadata u-text-grey-40 u-metadata-1"><!--blog_post_metadata_date-->
                  <span class="u-meta-date u-meta-icon"><!--blog_post_metadata_date_content-->Дата мероприятия<!--/blog_post_metadata_date_content--></span><!--/blog_post_metadata_date--><!--blog_post_metadata_comments-->
                  <span class="u-meta-comments u-meta-icon"><!--blog_post_metadata_comments_content-->{{date}}<!--/blog_post_metadata_comments_content--></span><!--/blog_post_metadata_comments-->
                </div><!--/blog_post_metadata--><!--blog_post_content-->
                <div class="u-align-left u-blog-control u-post-content u-text u-text-2"><!--blog_post_content_content-->
                  {{description}}<!--/blog_post_content_content--></div><!--/blog_post_content--><!--blog_post_readmore-->

               {% if link_flag %}
                <a href={{link}} class="u-active-none u-blog-control u-border-2 u-border-active-palette-2-dark-1 u-border-hover-palette-2-base u-border-palette-1-base u-btn u-button-style u-hover-none u-none u-text-hover-palette-2-base u-text-palette-1-base u-btn-1"><!--blog_post_readmore_content-->Перейти на сайт<!--/blog_post_readmore_content--></a><!--/blog_post_readmore-->
              {% endif %}

             </div>
            </div><!--/blog_post-->
          </div>
        </div><!--/blog-->
      </div>
    </section>
{% else %}
<link rel="stylesheet" href="/static/Ивент.css" media="screen">
<section class="u-align-center u-clearfix u-section-1" id="sec-93e6">
      <div class="u-clearfix u-sheet u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1"><!--post_details--><!--post_details_options_json--><!--{"source":""}--><!--/post_details_options_json--><!--blog_post-->
        <div class="u-container-style u-expanded-width u-post-details u-post-details-1">
          <div class="u-container-layout u-container-layout-1"><!--blog_post_header-->

                            <h2 class="u-align-left u-blog-control u-text u-text-1">
                  <font size="20" face="Open Sans">
                  <a class="u-post-header-link" href=""><!--blog_post_header_content-->{{name}}<!--/blog_post_header_content--></a>
                    {% if flag == 'True' %}
                <a class="u-button-style u-nav-link" href="/delevent/{{id}}" style="padding-top: 10px;">Добавлено</a>
                    {% elif flag == 'False' %}
                <a class="u-button-style u-nav-link" href="/addevent/{{id}}" style="padding-top: 10px;">Добавить</a>
                    {% elif flag == 'CR' %}
                <a class="u-button-style u-nav-link" href="/delmyevent/{{id}}" style="padding-top: 10px;">Удалить</a>
                    {% endif %}
                  </font></h2><!--/blog_post_header--><!--blog_post_metadata-->

                <div class="u-blog-control u-metadata u-text-grey-40 u-metadata-1"><!--blog_post_metadata_date-->
                  <span class="u-meta-date u-meta-icon"><!--blog_post_metadata_date_content-->Дата мероприятия<!--/blog_post_metadata_date_content--></span><!--/blog_post_metadata_date--><!--blog_post_metadata_comments-->
                  <span class="u-meta-comments u-meta-icon"><!--blog_post_metadata_comments_content-->{{date}}<!--/blog_post_metadata_comments_content--></span><!--/blog_post_metadata_comments-->
                </div><!--/blog_post_metadata--><!--blog_post_content-->
                <div class="u-align-left u-blog-control u-post-content u-text u-text-2"><!--blog_post_content_content-->
                  {{description}}<!--/blog_post_content_content--></div><!--/blog_post_content--><!--blog_post_readmore-->
              {% if link_flag %}
              <a href={{link}} class="u-active-none u-blog-control u-border-2 u-border-active-palette-2-dark-1 u-border-hover-palette-2-base u-border-palette-1-base u-btn u-button-style u-hover-none u-none u-text-hover-palette-2-base u-text-palette-1-base u-btn-1"><!--blog_post_readmore_content-->Перейти на сайт<!--/blog_post_readmore_content--></a><!--/blog_post_readmore-->
              {% endif %}
          </div>
        </div><!--/blog_post--><!--/post_details-->
      </div>
    </section>
{% endif %}
{% endblock %}
